<li>
    {{title}}
    <button class="change-devour" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}} Devour Book! {{else}}Read it again!{{/if}}
    </button>
    <button class="delete-book" data-id="{{id}}">Delete!</button>
</li>